#yesStatusCoffee {
    background-color: #77DD77;
}

#yesStatusCoffee:hover, #yesStatusCoffee:focus {
    background-color: #4ED34E;
}

#yesStatusCoffee:active {
    background-color: #2FBC2F;
}

#enrouteStatusCoffee {
    background-color: #FFFAA0;
}

#enrouteStatusCoffee:hover, #enrouteStatusCoffee:focus {
    background-color: #FFF87D;
}

#enrouteStatusCoffee:active {
    background-color: #FFF64C;
}

#noStatusCoffee {
    background-color: #FF5757;
}

#noStatusCoffee:hover, #noStatusCoffee:focus {
    background-color: #FF3A3A;
}

#noStatusCoffee:active {
    background-color: #FB0000;
}

#loginCoffee {
    color: #E6E0D4;
}

#logoutCoffee {
    background-color: transparent;
    box-shadow: 0 0;
    text-decoration: underline;
    width: fit-content;
}

.adminCoffee button, .adminCoffee input {
    margin: 0 auto;
    height: 2rem;
    width: 12rem;
    border: 0;
    box-sizing: border-box;
}

.adminCoffee button {
    background-color: #9C6F44;
    color: #2C2C2C;
    border-radius: 5px;
    margin: 1rem auto;
    transition: background-color 0.25s;
    box-shadow: 0.25rem 0.25rem 0.15rem 0.05rem rgba(44, 44, 44, 0.3);
    cursor: pointer;
}

.adminCoffee button:hover, button:focus {
    background-color: #6F4827;
}

.adminCoffee button:active {
    background-color: #563517;
}

.adminCoffee input {
    background-color: #E6E0D4;
    border-bottom: 1px #2C2C2C solid;
}

.adminCoffee form {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    align-items: center;
}

.adminCoffee h1 {
    font-size: 2rem;
    margin: 4rem 1rem 2rem;
    text-align: center;
}

.messageCoffee {
    font-size: 0.75rem;
    margin: 0.25rem auto 0;
}

.errorCoffee {
    color: #FF5757;
}

.successCoffee {
    color: #77DD77;
}

.statusChangeContainerCoffee {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    align-items: center;
}

.statusUpdateMessage > div {
    text-align: center;
    margin: 0;
}

.textInput {
    margin: 1rem auto;
}

@media (min-width: 769px) {
    .adminCoffee button, .adminCoffee input {
        height: 4rem;
        width: 24rem;
        font-size: 1.5rem;
    }

    .adminCoffee button {
        margin: 2rem auto;
    }

    .adminCoffee h1 {
        font-size: 5rem;
        margin: 4rem 1rem;
    }

    .messageCoffee {
        font-size: 1.125rem;
        margin: 0.5rem auto 0;
    }

    .statusChangeContainerCoffee {
        margin: 0 5rem;
    }
}
