#yesStatusCoffee {
    background-color: #77DD77;
}

#enrouteStatusCoffee {
    background-color: #FFFAA0;
}

#noStatusCoffee {
    background-color: #FF5757;
}

#logoutButtonCoffee {
    display: block;
    margin: 2rem auto;
}

.adminCoffee button, .adminCoffee input {
    margin: 0 auto;
    height: 2rem;
    width: 12rem;
    border: 0;
    box-sizing: border-box;
}

.adminCoffee button {
    background-color: #9C6F44;
    color: #E6E0D4;
    margin: 1rem auto;
}

.adminCoffee button:hover, button:focus {
    background-color: #6F4827;
}

.adminCoffee button:active {
    background-color: #563517;
}

.adminCoffee input {
    background-color: #E6E0D4;
    border-bottom: 1px #2C2C2C solid;
}

.adminCoffee form {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    align-items: center;
}

.adminCoffee h1 {
    font-size: 2rem;
    margin: 4rem 1rem 2rem;
    text-align: center;
}

.messageCoffee {
    font-size: 0.75rem;
    margin: 0.25rem auto 0;
}

.errorCoffee {
    color: #FF5757;
}

.successCoffee {
    color: #77DD77;
}

.statusChangeContainerCoffee {
    display: flex;
    flex-direction: row;
    margin: 0 1rem;
    align-items: center;
}

.statusChangeContainerCoffee > button {
    border: 2px #2C2C2C solid;
    border-radius: 50%;
    height: 6.5rem;
    width: 6.5rem;
    margin: 0.25rem auto;
    font-size: 1.25rem;
    color: #2C2C2C;
}

.statusUpdateMessage > div{
    text-align: center;
    margin: 0;
}

.textInput {
    margin: 1rem auto;
}

@media (min-width: 769px) {
    .adminCoffee button, .adminCoffee input {
        height: 4rem;
        width: 24rem;
        font-size: 1.5rem;
    }

    .adminCoffee button {
        margin: 2rem auto;
    }

    .adminCoffee h1 {
        font-size: 5rem;
        margin: 4rem 1rem;
    }

    .messageCoffee {
        font-size: 1.125rem;
        margin: 0.5rem auto 0;
    }

    .statusChangeContainerCoffee {
        margin: 0 5rem;
    }

    .statusChangeContainerCoffee > button {
        height: 15rem;
        width: 15rem;
        font-size: 2rem;
    }
}
