.adminCoffee button, .adminCoffee input {
    margin: 0 auto;
    height: 2rem;
    width: 12rem;
    border: 0;
    box-sizing: border-box;
}

.adminCoffee button {
    background-color: #9C6F44;
    color: #E6E0D4;
    margin: 1rem auto;
}

.adminCoffee button:hover {
    background-color: #6F4827;
}

.adminCoffee button:active {
    background-color: #563517;
}

.adminCoffee input {
    background-color: #E6E0D4;
    border-bottom: 1px #2C2C2C solid;
}

.adminCoffee form {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    align-items: center;
}

.adminCoffee h1 {
    font-size: 2rem;
    margin: 4rem 1rem 2rem;
    text-align: center;
}

.messageCoffee {
    font-size: 0.75rem;
    margin: 0.25rem auto 0;
}

.errorCoffee {
    color: #FF5757;
}

.successCoffee {
    color: #77DD77;
}

.multipleButtonsCoffee {
    display: inline
}

.multipleButtonsCoffee > button {
    cursor: pointer;
    width: 100px;
    margin: 12px 5px;
}

.textInput {
    margin: 1rem auto;
}

@media (min-width: 769px) {
    .adminCoffee button, .adminCoffee input {
        height: 4rem;
        width: 24rem;
        font-size: 1.5rem;
    }

    .adminCoffee button {
        margin: 2rem auto;
    }

    .adminCoffee h1 {
        font-size: 5rem;
        margin: 4rem 1rem;
    }

    .messageCoffee {
        font-size: 1.125rem;
        margin: 0.5rem auto 0;
    }

    .multipleButtonsCoffee > button {
        width: 200px;
        margin: 24px 10px;
    }
}
