.backgroundGreenCoffee {
    background-color: #77DD77;
}

.backgroundRedCoffee {
    background-color: #FF5757;
}

.backgroundYellowCoffee {
    background-color: #FFFAA0;
}

.iconContainerCoffee {
    border: 5px #2C2C2C solid;
    border-radius: 50%;
    height: 14rem;
    width: 14rem;
    margin: 6rem auto;
}

.iconCoffee {
    display: block;
    height: 10rem;
    width: 10rem;
    margin: 1.5rem 1.75rem 2.5rem 2.25rem;
}

@media (min-width: 769px) {
    .iconContainerCoffee {
        height: 22rem;
        width: 22rem;
    }

    .iconCoffee {
        height: 16rem;
        width: 16rem;
        margin: 2.25rem 2.625rem 3.75rem 3.375rem;
    }
}
