.backgroundGrayCoffee {
    background-color: #404040;
}

.backgroundGreenCoffee {
    background-color: #77DD77;
}

.backgroundGreenCoffee > p, .backgroundRedCoffee > p, .backgroundYellowCoffee > p {
    color: #121212;
}

.backgroundRedCoffee {
    background-color: #FF5757;
}

.backgroundYellowCoffee {
    background-color: #FFFAA0;
}

.containerCoffee {
    border-radius: 25px;
    text-align: center;
    padding: 25px;
    width: 160px;
    margin: 20px auto;
}



@media (min-width: 769px) {
    .containerCoffee {
        padding: 25px;
        width: 600px;
        margin: 9% auto;
    }
}