.mainCoffee h1 {
    font-size: 2.3rem;
    margin: 30px 0;
    text-align: center;
}

.mainCoffee p:nth-child(1) {
    font-size: 1.6rem;
    margin: 13% auto;
}

.mainCoffee p:nth-child(2) {
    font-size: 1.2rem;
    margin: 0 auto;
}

.statusContainerCoffee {
    margin: 50px auto;
}

@media (min-width: 769px) {
    .mainCoffee h1 {
        font-size: 6rem;
    }

    .mainCoffee p:nth-child(1) {
        font-size: 5rem;
    }

    .mainCoffee p:nth-child(2) {
        font-size: 3rem;
        margin: 3% auto;
    }
}
