#infoCoffee {
    color: #2C2C2C;
    background-color: transparent;
    border: 3px #2C2C2C solid;
    border-radius: 50%;
    font-size: 1.5rem;
    height: 2rem;
    width: 2rem;
    display: block;
    margin: 0 1rem 0 auto;
}

.mainCoffee h1 {
    font-size: 2rem;
    margin: 4rem 1rem;
    text-align: center;
}

@media (min-width: 769px) {
    .mainCoffee h1 {
        font-size: 5rem;
    }
}
